{{ if not (eq .Page.Params.author "") }} {{ .Page.Params.author }}: {{end}}
{{ if not (eq .Page.Params.title "") }} {{ .Page.Params.title }}<br>{{end}}
{{ if not (eq .Page.Params.place "") }} {{ .Page.Params.place }},{{end}}
{{ if not (eq .Page.Params.datum "") }} {{ .Page.Params.datum }}<br>{{end}}
{{ if not (eq .Page.Params.date "") }} {{ .Page.Params.date }}<br>{{end}}
{{ if not (eq .Page.Params.inscenation "") }} {{ .Page.Params.inscenation }}<br> {{end}}
{{ if not (eq .Page.Params.orchester "") }} {{ .Page.Params.orchester }},{{end}}
{{ if not (eq .Page.Params.conductor "") }} {{ .Page.Params.conductor }}<br>{{end}}
{{ if not (eq .Page.Params.soloists "") }} {{ .Page.Params.soloists }}<br>{{end}}
{{ if not (eq .Page.Params.link "") }} {{ .Page.Params.link }}<br>{{end}}
<br>
